<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>拉勾网</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/company.css">
</head>

<body>
  <!-- header 占位 -->
  <header class="header text-center">
    <span class="iconfont icon-fanhui back-action"></span>
    <h1>公司职位</h1>
    <span class="iconfont icon-shouye home-action"></span>
  </header>

  <!-- content 滚动视图 -->
  <main class="content">
    <div class="wrap">
      <!-- 公司详情 -->
      <div class="company">
        <div class="left">
          <img src="../assets/sanli01.jpg">
        </div>
        <div class="center">
          <h3>钓鱼之家</h3>
          <p class="oneline-ellipsis">移动互联网电商</p>
        </div>
        <div class="right">
          <img src="../assets/sanli01.jpg">
        </div>
      </div>
      <!-- 职业分类 -->
      <div class="classify">
        <dl class="clear">
          <dt>职位分类</dt>
          <dd class="tag selected">技术</dd>
          <dd class="tag">产品</dd>
          <dd class="tag">经理</dd>
          <dd class="tag">呵呵</dd>
        </dl>
      </div>

      <!-- 职位列表 -->
      <ul class="list">
        <!-- 模板 -->
  <!--       <li class="list-item border-bottom">
          <div class="center">
            <h3 class="title">三利</h3>
            <p class="time">时间</p>
          </div>
          <div class="right text-center">10k-15k</div>
        </li> -->

      </ul>

    </div>
  </main>

  <script src="../lib/zepto.js"></script>
  <script src="../lib/iscroll-probe.js"></script>
  <script src="../js/company.js"></script>



</body>

</html>