// <div class="company">
// <div class="left">
//   <img src="../assets/sanli01.jpg">
// </div>
// <div class="center">
//   <h3>钓鱼之家</h3>
//   <p class="oneline-ellipsis">移动互联网电商</p>
// </div>
// <div class="right">
//   <img src="../assets/sanli01.jpg">
// </div>
// </div>

$mainColor: #00b38a;

// 公司
.company {
  width: 100%;
  padding: 30px;
  display: flex;
  box-sizing: border-box;

  // 左边
  .left {
    width: 116px;
    height: 116px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  // 中间
  .center {
    flex: 1;
    margin-left: 16px;

    h3 {
      color: $mainColor;
      font-size: 35px;
      font-weight: bold;
    }

    p {
      font-size: 26px;
      color: #888;
      margin-top: 18px;
    }

  }
  // 右边
  .right {
    width: 55px;
    height: 55px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}
