// <li class="list-item border-bottom">
// <div class="left">
//   <img src="../../assets/sanli01.jpg">
// </div>
// <div class="center">
//   <h3 class="title">三利</h3>
//   <p class="info">游戏内测员</p>
//   <p class="time">时间</p>
// </div>
// <div class="right text-center">10k-15k</div>
// </li>



$mainColor: #00b38a;

.content {
  position: absolute;
  top: 178px;
  left: 0;
  bottom: 90px;
  width: 100%;
  overflow: hidden;

  .list {

    .list-item {
      display: flex;
      padding: 30px;
      box-sizing: border-box;

      .left {
        width: 120px;
        height: 120px;

        img {
          width: 100%;
          height: 100%;
        }
      }
      .center {
        flex: 1;
        margin-left: 20px;

        .title {
          font-size: 34px;
          font-weight: bold;
          color: #333;
        }
        .info {
          height: 60px;
          line-height: 60px;
          font-size: 25px;
          color: #333;
        }
        .time {
          font-size: 20px;
          color: #888;
        }

      }
      .right {
        font-size: 26px;
        color: $mainColor;
      }
    }

  }
}


