<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>拉勾网</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/home.css">
</head>

<body>
  <!-- header 占位 -->
  <header class="header text-center">
    <!-- <span class="iconfont icon-fanhui back-action"></span> -->
    <h1>拉勾网</h1>
    <!-- <span class="iconfont icon-shouye home-action"></span> -->
  </header>

  <!-- filterWrap -->
  <div class="filter border-bottom text-center"></div>

  <!-- content 滚动视图 -->
  <main class="content">
    <div class="wrap">

      <!-- 下拉刷新的结构 -->
       <div class="refresh">
        <img src="/static/assets/arrow.jpg">
        <span>下拉可以刷新/static.</span>
      </div>

      <!-- 需要滚动的内容开头 -->

      <ul class="list">
<!--  模板
        <li class="list-item border-bottom">
          <div class="left">
            <img src="/static/../assets/sanli01.jpg">
          </div>
          <div class="center">
            <h3 class="title">三利</h3>
            <p class="info">游戏内测员</p>
            <p class="time">时间</p>
          </div>
          <div class="right text-center">10k-15k</div>
        </li> -->

      </ul>


      <!-- 需要滚动的内容结尾 -->

      <!-- 上拉加载更多的结构 -->
            <div class="loadmore">
        <img src="/static/assets/arrow.jpg">
        <span>上拉可以加载更多/static.</span>
      </div>

    </div>
  </main>


  <!-- footer -->
  <footer class="tabbar border-top">
    <!-- 模板 -->
    <ul class="list">
      <!-- <a href="/static/home/home.html" class="list-item text-center active">
        <span class="iconfont icon-shouye"></span>
        <span>职位</span>
      </a> -->
    </ul>
  </footer>

  <script src="/static/lib/zepto.js"></script>
  <script src="/static/lib/iscroll-probe.js"></script>
  <script src="/static/js/home.js"></script>



</body>

</html>