<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>职位详情</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/jobDetail.css">
</head>

<body>
  <!-- header 占位 -->
  <header class="header text-center">
    <span class="iconfont icon-fanhui back-action"></span>
    <h1>职位详情</h1>
    <span class="iconfont icon-shouye home-action"></span>
  </header>

  <!-- content 滚动视图 -->
  <main class="content">
    <div class="wrap">
      <!-- 模板 -->
  <!--     <div class="jobWrap border-bottom">
        <h1>php高级开发工程师</h1>
        <div class="collect">
          <span class="iconfont icon-shouye"></span>
          <span>未收藏</span>
        </div>
      </div>
      <div class="jobBenefits border-bottom">
        <nav class="list clear oneline-ellipsis">
          <li class="list-item">
            <em class="iconfont icon-shouye home-action"></em>
            <span>15k-18k</span>
          </li>
          <li class="list-item">
            <em class="iconfont icon-shouye home-action"></em>
            <span>北京</span>
          </li>
          <li class="list-item">
            <em class="iconfont icon-shouye home-action"></em>
            <span>全职</span>
          </li>
          <li class="list-item">
            <em class="iconfont icon-shouye home-action"></em>
            <span>3-5年</span>
          </li>
          <li class="list-item">
            <em class="iconfont icon-shouye home-action"></em>
            <span>本科及以上</span>
          </li>
        </nav>
        <p>职位诱惑: 你的代码服务千万用户</p>
      </div>
      <div class="company">
        <div class="left">
          <img src="/static/assets/sanli01.jpg">
        </div>
        <div class="center">
          <h3>钓鱼之家</h3>
          <p class="oneline-ellipsis">移动互联网电商</p>
        </div>
        <div class="right">
          <img src="/static/assets/sanli01.jpg">
        </div>
      </div>
      <div class="jobDescription">
        <h4>职位描述</h4>
        <p>暂无面试评价暂无面试评价
            暂无面试评价暂无面试评价
            暂无面试评价暂无面试评价
            暂无面试评价暂无面试评价
            暂无面试评价暂无面试评价
        </p>
      </div>
      <div class="interviewWrap">
        <h4>面试评价</h4>
        <p>暂无面试评价</p>
      </div> -->
    </div>
  </main>

  <!-- 底部按钮 -->
  <div class="footer text-center">
    <span class="sendResume text-center">投递简历</span>
  </div>

  <script src="/static/lib/zepto.js"></script>
  <script src="/static/lib/iscroll-probe.js"></script>
  <script src="/static/js/jobDetail.js"></script>
</body>

</html>