<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>我的</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/mime.css">
</head>

<body>
  <!-- header 占位 -->
  <header class="header text-center">
    <h1>拉勾网</h1>
  </header>

  <!-- 登录和没登录是不一样的 -->
  <div class="content">

      <!-- login -->
    <div class="login text-center">
      <span class="text-center">登录 / 注册</span>
    </div>

    <!-- user -->
    <div class="user text-center">
      <img src="/static/assets/sanli01.jpg" class="useravar">
      <span class="username">yuzhenliu</span>
      <span id="resume" class="resume">简历</span>
    </div>

    <nav class="list">
      <li class="list-item border-bottom">
        <span>投递</span>
        <span class="iconfont icon-fanhui"></span>
      </li>
      <li class="list-item border-bottom">
        <span>面试</span>
        <span class="iconfont icon-fanhui"></span>
      </li>
      <li class="list-item border-bottom">
        <span>收藏</span>
        <span class="iconfont icon-fanhui"></span>
      </li>
    </nav>

    <div class="loginout text-center">
      <span>注销</span>
    </div>

    </div>

    <!-- footer -->
    <footer class="tabbar border-top">
      <!-- 模板 -->
      <ul class="list"></ul>
    </footer>

    <script src="/static/lib/zepto.js"></script>
    <script src="/static/lib/iscroll-probe.js"></script>
    <script src="/static/js/mime.js"></script>
</body>

</html>