<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>注册</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/register.css">
</head>

<body>

  <!-- header -->
  <header class="header text-center">
    <span class="iconfont icon-fanhui back-action"></span>
    <h1>注册</h1>
  </header>

  <!-- content -->
  <div class="content">

    <!-- 电话号码注册 -->
    <div class="registerByPhone">
      <p class="tel border-bottom">
        <input type="text" placeholder="请输入常用手机号">
      </p>

      <!-- 密码 -->
      <p class="psw border-bottom">
        <input type="password" placeholder="请输入收到的验证码">
        <span class="getCode">获取验证码</span>
      </p>
    </div>

    <!-- 注册按钮 -->
    <p class="registerWrap text-center">
      <span class="register">注册</span>
    </p>

    <!-- 登录 -->
    <p class="waysByPhone">
      <span class="agreenWrap">注册拉勾代表你已同意<a href="javascript:;">《拉勾用户协议》</a></span>
      <span class="login">登录</span>
    </p>

  </div>

  <script src="/static/lib/zepto.js"></script>
  <script src="/static/js/register.js"></script>
</body>

</html>