.content {
  position: absolute;
  top: 90px;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
.content .company {
  border-bottom: 1px solid #ddd;
}
.content .list .list-item {
  display: flex;
  padding: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
}
.content .list .list-item .center {
  flex: 1;
}
.content .list .list-item .center .title {
  font-size: 34px;
  color: #333;
  margin-bottom: 15px;
}
.content .list .list-item .center .time {
  font-size: 20px;
  color: #888;
}
.content .list .list-item .right {
  font-size: 26px;
  color: #00b38a;
}
