.searchWrap {
  width: 100%;
  height: 98px;
  display: flex;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}
.searchWrap .cityOption {
  width: 137px;
  height: 98px;
  box-sizing: border-box;
  border-right: 1px solid #ccc;
}
.searchWrap .cityOption .selectedCity {
  font-size: 36px;
  color: #444;
  margin-right: 4px;
}
.searchWrap .cityOption span.iconfont {
  font-size: 14px;
  color: #444;
}
.searchWrap .searchBox {
  flex: 1;
  box-sizing: border-box;
  padding: 0 24px;
  display: flex;
}
.searchWrap .searchBox input {
  flex: 1;
  font-size: 34px;
  border: none;
  outline: none;
  font-weight: normal;
}
.searchWrap .searchBox span.iconfont {
  display: inline-block;
  width: 45px;
  height: 98px;
  text-align: center;
  line-height: 98px;
  font-size: 30px;
  color: #ddd;
}
