.loadingWrap {
  position: fixed;
  top: 0;
  left: 0;
}
.loadingWrap .cover {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
}
.loadingWrap .login {
  width: 120px;
  height: 120px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.loadingWrap .login img {
  width: 50%;
  height: 50%;
}
.loadingWrap .login span {
  font-size: 20px;
  color: #fff;
  margin-top: 10px;
}
