<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>职位详情</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/jobDetail.css">
</head>

<body>
  <!-- header 占位 -->
  <header class="header text-center">
    <span class="iconfont icon-fanhui back"></span>
    <h1>职位详情</h1>
    <span class="iconfont icon-shouye home"></span>
  </header>

  <!-- content 滚动视图 -->
  <main class="content">
    <div class="wrap">

      <!-- 下拉刷新的结构 -->
       <div class="refresh">
        <img src="../assets/arrow.jpg">
        <span>下拉可以刷新...</span>
      </div>

      <!-- 需要滚动的内容开头 -->

      <ul class="list">

      </ul>


      <!-- 需要滚动的内容结尾 -->

      <!-- 上拉加载更多的结构 -->
            <div class="loadmore">
        <img src="../assets/arrow.jpg">
        <span>上拉可以加载更多...</span>
      </div>

    </div>
  </main>

  <script src="../lib/zepto.js"></script>
  <script src="../lib/iscroll-probe.js"></script>
  <script src="../js/jobDetail.js"></script>



</body>

</html>