$mainColor: #00b38a;
$otherColor: #d2f9f0;

// 职业分类

.classify {
  width: 100%;
  padding: 30px;
  border-bottom: 1px solid #ddd;

  dl {

    dt {
      font-size: 28px;
      color: #444;
      margin-bottom: 30px;
    }

    .tag {
      width: 28%;
      height: 80px;
      line-height: 80px;
      text-align: center;
      font-size: 30px;
      background-color: #f0f0f0;
      color: #c4c4c4;
      float: left;
      margin: 0 10px 10px;
      border-radius: 30px;
    }

    .tag.selected {
      background-color: $mainColor;
      color: #fff;
    }
  }
}