.classify {
  width: 100%;
  padding: 30px;
  border-bottom: 1px solid #ddd;
}
.classify dl dt {
  font-size: 28px;
  color: #444;
  margin-bottom: 30px;
}
.classify dl .tag {
  width: 28%;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 30px;
  background-color: #f0f0f0;
  color: #c4c4c4;
  float: left;
  margin: 0 10px 10px;
  border-radius: 30px;
}
.classify dl .tag.selected {
  background-color: #00b38a;
  color: #fff;
}
